@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Slab", serif;
    min-height: 100vh;
    background: url('/deneme/image/yolharitasi.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.button {
    position: absolute;
    width: 50px;
    background-color: #000000bb;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3B6A55;
}

.info-card {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


.button:hover + .info-card,
.info-card:hover {
    display: block;
    transform: translateY(-80px);
    opacity: 1;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #00000073;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover {
    text-decoration: underline;
}

/* Nasıl Kullanılır bilgi kartı */
.how-to-use-card {
    display: none; /* Başlangıçta görünmez */
    position: absolute; /* Kartın konumlandırılması */
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Kartın üstte görünmesi için */
    top: 40px; /* Nasıl Kullanılır yazısının altına yerleştirmek için ayarlayın */
    left: 550px; /* Sol kenardan hizalama */
    margin-top: 5px; /* Kart ile yazı arasında biraz boşluk bırakmak için */
}